body{
    justify-content: center;
    align-items: center;
    padding: 4%;
    background-color: rgb(233, 233, 171);
}

.chico {
    width: 100%;
    height: 90px;
    margin-bottom: 10px;
}

.azul{
    background-color: aqua;
}

.grande{
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
}

.container{
    width: 100%;
    margin-bottom:10px;
}

.mediano{
    display: inline-block;
    width: 49.6%;
    height: 100px;
   
}

.margin-derecho{
    margin-right: 5px;
}